<div class="top-navbar text-center d-flex justify-content-center">
  <div class="ml-3 align-self-center">
    <a class="links" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" routerLink="" >
      <i class="fas fa-home"></i> Home
    </a>
    <a class="links" routerLinkActive="active-link" routerLink="tasks" >
      <i class="fas fa-clipboard-list"></i> Tasks
    </a>
  </div>
</div>

<div class="container">
  <div class="row no-gutters justify-content-center align-items-center" [@fadeAnimation]="getRouterOutletState(o)">
    <router-outlet  #o="outlet"></router-outlet>
  </div>
</div>

<div class="footer text-center d-flex justify-content-center">
  <div class="align-self-center">
    <a class="links" href="https://github.com/MostafaAttia/tracker-firebase">
      <i class="fab fa-github-square"></i> Firebase Version
    </a>
  </div>
</div>
