<div class="text-center links-container d-flex justify-content-center">
  <div class="ml-3 align-self-center">
    <a class="links" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" routerLink="" >Tracker</a>
    <a class="links" routerLinkActive="active-link" routerLink="tasks" >Tasks</a>
  </div>
</div>

<div class="container">
  <div class="row no-gutters justify-content-center align-items-center" [@fadeAnimation]="getRouterOutletState(o)">
    <router-outlet  #o="outlet"></router-outlet>
  </div>
</div>


